:root {
  --mainColor: #282c34;
  --secondaryColor: #ff8800;
  --silverColor: #f1f1f1;
}

.App {
  background-color: var(--mainColor);
  min-height: 100vh;
}

.App-header {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  color: white;
  padding-top: 1.5rem;
}

.App-wrapper {
  max-width: 1100px;
  margin: auto;
}

.text {
  color: var(--silverColor);
  font-size: 1.2rem;
}

.bar {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input {
  background-color: #00000000;
  border: 1px solid var(--silverColor);
  border-radius: 8px;
  padding: .6rem;
  color: var(--silverColor);
  outline: var(--silverColor);
  font-size: 1.2rem;
  font-weight: bold;
}

.button {
  border-radius: 8px;
  background-color: var(--secondaryColor);
  padding: .8rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.found-entries {
  font-weight: bold;
  flex: 1;
  color: var(--silverColor);
  font-size: 1.2rem;
  text-align: center;
}

.giph-pic {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  margin: 8px;
}